* {
    text-align: center;
    margin : 0;
    padding: 0;
    border: 1px solid black;
}

#grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

h1 {
    font-size: 70px;
}

.course {
    width: 250px;
    height: 250px;
    margin: 20px;
    display: inline-block;
}


